body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1em;
    color: #333;
    font-weight: 400;
}

#content {
    margin: 5px;
    padding: 20px;
    width: 805px;
    border: 1px solid #ccc;
}

#map {
    margin: 0px 0px 0px 0px;
    padding: 0px;
}

h1, h2 {
line-height: 1em;
font-size: 1.75em;
font-weight: 900;
color: #000;
}

h2.date {
    margin: 10px 0px 0px 0px;
    font-size: 1.3em;
    font-weight: 700;
}

h3 {
    font-size: 1.25em;
    margin: 0px 0px 0px 0px;
    font-weight: 900;
}

p {
    margin: 10px 0px 0px 0px;
}

.counties {
    position: absolute;
}


.states {
    fill: none;
    stroke: black;
    stroke-width: 0.5px;
    stroke-linejoin: round;
}

input {
    display: block;
    width: 200px;
    margin: 10px 0px 0px 0px;
}

#legend text {
    font-size: 0.9em;
    color: #333;
    font-weight: 400;
}

.tooltip {
    position: absolute;
}

.tooltip p {
    margin: 0;
    padding: 0;
}

.tooltip table {
    margin: 0;
    padding: 0;
    border-collapse: collapse;
}

.wide {
    width: 140px;
}

.title {
    position: absolute;
}